
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: aliceblue;
}
#btn {
display: flex;
justify-content: center;
margin-top: 280px;
    & button {
        height: 120px;
        width: 400px;
        border: 1px solid #00ffff;
        border-radius: 20px;
        background-color: #00ffff;
        color: white;
        font-weight: 500;
        font-size: 30px;
        font:bold;
        display: flex;
        align-items: center;
        justify-content: center;
        & #aviao1 {
            margin-left: 15px;
            animation-name: aviao1-passando;
            animation-duration: 2s;
        }
        & span {
            margin-left: 10px;
            animation-name: subir;
            animation-duration: 4s;
        }
    }
}

@keyframes subir {
    0% {
       margin-bottom: 150px;
       color: aliceblue;
    }
}
/* 
@keyframes aviao1-passando {
    0% {
        margin-left: 200px;
    }
} */